* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #ff6e14;
}
.app-container {
  width: 70%;
  background: #ffffff;
  margin: 0 auto;
}
img {
  width: 60%;
  height: 100%;
  border-radius: 10px;
}
textarea {
  height: 125px;
  width: auto;
  border: none;
  background: none;
   overflow: auto; 
  outline: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  resize: none;
  font-size: 0.9rem;
}
.left-part {
  display: flex;
  justify-content: right;
  align-items: center;
}
.right {
  position: relative;
}

.data-item {
  position: absolute;
  top: 5px;
  left: 15px;
  gap: 10px;
  display: flex;
  flex-direction: column;
  width: 80%;
  background: rgba(255, 255, 255, 0.615);
  padding: 10px;
  border-radius: 10px;
  
}

.container {
  display: grid;
  grid-template-columns: 50% 50%;
  margin-top: 35px;
}
.logo-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 10px 10px;
}
.logo-container > h3 {
  padding: 10px 10px;
  border-radius: 25px;
  color: #ff6e14;
  font-weight: 900;
  font-size: 2.1rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
